@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin:0 auto;
  padding:0 auto;
}

nav {
  height:50px;
  background-color:white;
  margin-bottom:2px solid black;
}

#btn-sidenav-demo {
  background-color:white;
  color:black;
  border:none;
  box-shadow:none
}
.blackify {
  color:black;
}

.flexy {
  display:flex;
  align-content:center;
}
.nav-img {
 
  width:60%;
  padding:15px;
  
}