<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>



  <!-- Just an image -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="https://image.flaticon.com/icons/png/512/93/93015.png" width="35" height="30" alt="">
    </a>
    <!-- <a [routerLink]="['/login']">
      Login
    </a>
    <a [routerLink]="['/signup']">
      Regístrate
    </a> -->
 

  <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i style="color:black;"class="fas fa-bars"></i></a> -->
  <mz-sidenav *ngIf="user" [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
 
      <mz-sidenav-header>
          <h3 style="color:black;text-align:center">{{user.name}} {{user.lastName}}</h3>
        </mz-sidenav-header>
        <img class="nav-img" src="../assets/img/noimage.png"> 
          <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
          <mz-sidenav-link>
          <h5 style="color:black;text-align:center">{{user.email}}</h5>
 
    <mz-sidenav-divider></mz-sidenav-divider>  
      <a [routerLink]="['/profile', user._id]">Your profile</a>
      </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link [active]="true">
        <a href="/explore/users">Explore</a>
      </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link>
        <a style="color:black" (click)="logout()" class="waves-effect">Log out<i class="fas fa-sign-out-alt"></i></a>
      </mz-sidenav-link>
</mz-sidenav>
<mz-sidenav *ngIf="!user" [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
 
  <mz-sidenav-header>
      <h3 style="color:black;text-align:center">User name</h3>
    </mz-sidenav-header>
    <img class="nav-img" src="../assets/img/noimage.png"> 
      <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
      <mz-sidenav-link>
      <h5 style="color:black;text-align:center">Email</h5>

<mz-sidenav-divider></mz-sidenav-divider>  
<!-- fix this!! -->
  
    <a [routerLink]="['/profile', user._id]">Your profile</a>
  
  </mz-sidenav-link>
<mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="true">
    <a href="#">Explore</a>
  </mz-sidenav-link>
<mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a style="color:black" (click)="logout()" class="waves-effect">Log out<i class="fas fa-sign-out-alt"></i></a>
  </mz-sidenav-link>
</mz-sidenav>
 <button mz-button id="btn-sidenav-demo">
  <i style="color:black;"class="fas fa-bars"></i>
</button>
  <!-- Dropdown Structure -->
  <!-- <mz-dropdown
  [id]="'dropdown-demo'"
  [align]="'left'"
  [belowOrigin]="false"
  [constrainWidth]="true"
  [dropdownButtonId]="'btn-dropdown-demo'"
  [gutter]="true"
  [hover]="true"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
>
  <mz-dropdown-item><a class="blackify" href="/profile">Profile</a></mz-dropdown-item>
  <mz-dropdown-item><a class="blackify" href="#!">Explore</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a class="blackify" (click)="logout()">Log out</a></mz-dropdown-item>
</mz-dropdown>

<a mz-button id="btn-dropdown-demo" href="#"><i style="color:black;"class="fas fa-bars"></i></a>
    <div>
        <i style="color:black;"class="fas fa-bars"></i>
    </div> -->
 
  </nav>
  <router-outlet></router-outlet>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
</body>
</html>



