<!-- <p>user-profile works!</p>
<div class="row">
  <div class="col">
      <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista">
  </div>
</div>
<div *ngFor="let cancion of saved">
    <h3>{{cancion.name}}</h3> <span> by </span>
   <h5> {{cancion.artists[0].name}}</h5>

</div> -->


<!-- <div class="card-columns m-5">

  <div *ngFor="let artista of artistas" class="card">
      <img class="card-img-top" src="{{artista.images | noimage}}" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">{{artista.name}}</h5>
          <p>folowers:{{artista.followers.total}}</p>
         
      </div>
    <button (click)="addToList(artista)">+</button>
  </div>
</div> -->



<section>
        <button (click)="toggle()" class="butoun btn waves-effect waves-light" >{{buttonName}}
                <i class="fas fa-search"></i>
        </button>
        
        <div class="left-part">
                <mz-collection style="text-align:center">
                        <mz-collection-header><h4>{{profUser.name[0]}}.{{profUser.lastName[0] | capitalizr}}</h4></mz-collection-header>
                        <mz-collection-item><img class="profilePic" style="width:60%;" src="../../../assets/img/noimage.png"><br></mz-collection-item>
                        <button (click)="follow()">Follow</button>
                        <button (click)="activateFollowing()">Following</button>
                        <mz-collection-item><strong>Followers:{{profUser.followers.length}}</strong></mz-collection-item>
                        <mz-collection-item><strong *ngIf="sameUser">Following:{{user.following.length}}</strong></mz-collection-item>
                        <mz-collection-item><p><strong>Bio:</strong> {{user.bio}}</p></mz-collection-item>
                        <mz-collection-item><p><strong>Favorite genres: </strong>{{user.favoriteGenres}}</p></mz-collection-item>
                        <mz-collection-item><p><strong>Song of the week:</strong>{{user.songOTW}}</p></mz-collection-item>
                </mz-collection>
                <!-- <button>follow</button> -->
            
                    <!-- <div class="flx">
                            <h1 style="text-align:center;margin-top:15px;">{{user.name[0]}}.{{user.lastName[0]}} </h1>
                            
                    </div> -->
           
            <div *ngIf="sameUser">
                    <button mz-button [routerLink]="['edit']" (click)="bottomSheetModal.openModal()">Edit</button>

                    <mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
                      <mz-modal-header>
                        <h4>Edit User</h4>
                      </mz-modal-header>
                      <mz-modal-content>
                          <router-outlet></router-outlet>
                      </mz-modal-content>
                      <mz-modal-footer>
                        <button mz-button [routerLink]="['/profile', user._id]" [flat]="true" mz-modal-close>Disagree</button>
                        <button mz-button [flat]="true" mz-modal-close>Agree</button>
                      </mz-modal-footer>
                    </mz-modal>
             </div>
         </div>
        
        <div class="right-part">

            <!-- trying without it -->
                <!-- <div *ngIf="show">
        
                        <div class="row">
                                <div class="col">
                                    <input #term type="text" (keyup)="buscarCancion(term.value)" class="form-control" placeholder="Search songs by artist or name...">
                                </div>
                        </div>
                        <div class="card-columns m-5">
                
                                <div *ngFor="let cancion of tracks" class="card">
                                    <img class="card-img-top" src="{{cancion.album.images[0].url}}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5>{{cancion.name}}</h5>
                                        <h3>{{cancion.artists[0].name}}</h3>
                                        <p>Album:{{cancion.album.title}}</p>
                                        <audio>{{cancion.preview_url}}</audio> 
                                        
                                    </div>
                                <button (click)="addToList()">+</button>
                                </div>
                        </div>
                </div> -->
                
                <h1>{{profUser.name}}'s 9 songs:</h1>
                
                <!-- <div *ngFor="let song of songs">
                    <h3>{{song.name}}</h3>
                    <p>{{song.description}}</p>
                </div> -->

                <div *ngIf="sameUser">
                        <button mz-button [routerLink]="['add']" (click)="basicModal.openModal()">Add Song</button>

                        <mz-modal #basicModal [options]="modalOptions">
                          <mz-modal-header>
                            <h4>Add Song</h4>
                          </mz-modal-header>
                          <mz-modal-content>
                                <router-outlet></router-outlet>
                          </mz-modal-content>
                          <mz-modal-footer>
                            <button [routerLink]="['/profile', user._id]" mz-button [flat]="true" mz-modal-close>Close</button>
                          </mz-modal-footer>
                        </mz-modal>
                    <!-- <a [routerLink]="['add']">Add song</a>
                    <router-outlet></router-outlet> -->
                </div>
                <div *ngIf="sameUser">
                    <p>nigga we made it!</p>
                </div>
               <!-- <div *ngFor="let song of profUser.songs">
                    <h4>{{song.name}}</h4>
                    <h6>{{song.artist}}</h6>
                    <p>{{song.name}}</p>
               </div> -->
                
                <div class="theCard card-columns m-5">
                    
                        <div *ngFor="let song of profUser.songs" class="card">
                    
                            <div class="card-body">
                                <h6 class="card-title">{{song.name}}</h6>
                                <h4>{{song.artist}}</h4>
                                <p>{{song.description}}</p>
                                <strong>{{song.likes}} Likes</strong>
                                <!-- <button *ngIf="sameUser" (click)="addToList()">+</button> -->
                               <button [routerLink]="['/song', song._id]">See more</button>
                                
                            </div>
                        
                        </div>
                 </div>
                
            <div>
                <h1 style="text-align:center;">Feed</h1>
                <div>
                    <!-- <div *ngFor="let chanson of songs.likes">
                        {{chanson.song.name}}
                    </div> -->
                </div>
                <div *ngFor="let song of profUser.liked">
                    {{song.name}}
                </div>
            </div> 
         </div>
         
         <!-- <button (click)="toggle()">{{buttonName}}</button> -->
         
         
</section>

